@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

:root {
    --cor-fundo: #C6C6C6;
    --cor-modal: rgba(0,0,0,0.5);
    --cor-sombra-modal: rgba(0,0,0,0.6);

    --cor-fonte: #03e9f4;
    --cor-branco: #FFFFFF;
    --cor-preto: #000000;
    --cor-nav: #636362;

    --cor-linha-principal: #FFFAFA;
    --cor-linha-secundaria: #F5F5F5;

    --fonte: "SUSE", system-ui;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--cor-fundo);
}

body img {
    display: block;
    width: 40%;
    height: auto;
    margin: 0 auto;

    margin-bottom: 20px;
}

.form-container {
    background-color: #636362;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px var(--cor-sombra-modal);
    text-align: center;
    width: 100%;
    width: 500px;
}

h2 {
    color: #FFFFFF;
    margin-bottom: 30px;
    font-size: 24px;
}

label {
    display: block;
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 16px;
    outline: none;
    padding-left: 0;
}

input::placeholder {
    color: #FFFFFF;
}

button {
    width: 100%;
    padding: 12px;
    background-color: var(--cor-fonte);
    border: none;
    border-radius: 5px;
    color: var(--cor-nav);
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0099cc;
}

.back-link {
    margin-top: 20px;
    color: var(--cor-nav);
    font-size: 14px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
}

.back-link:hover {
    text-decoration: underline;
}

p {
    color: var(--cor-nav);
    display: flex;
    justify-content: center;
    text-align: center;
}

a{
    text-decoration: none;
    color: var(--cor-modal);
}